body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
    background-color: rgba(155, 25, 65, 100);
}

.title {
    font-size: 10rem;
    margin: 1rem auto;
    text-align: center;
    color: white;
}

.container {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem auto;
    background-color: rgba(29, 124, 5, 0.973);
}

.card {
    width: 28%;
    background-color: red;
    justify-content: space-around;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem auto;
    flex-basis: auto;
}

.card-image {
    width: 80%;
}

.card-title {
    background-color: rgba(29, 124, 5, 0);

    font-size: 5rem;
    margin-top: 1rem;
}

.card-description {
    background-color: rgba(29, 124, 5, 0);

    font-size: 2rem;
    margin: 1rem 1rem;
}